<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Jacksonville Florida Residents &AMP; Visitors Information Network | FastJax.Com</title>
<meta name="description" content="Explore Jacksonville Florida greater area with FastJax.com. FastJax is free city hub, where  you can connect to anything in the city. Create a free account today!">
<meta keywords="jacksonville florida, jax fl, jacksonville beach florida, jacksonville beach florida, jacksonville florida information, visit jacksonville florida, jacksonville florida city information">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Chad Buie" >
<link href="/css/main.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="/web/20130704125119/http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</a>
<div class="nav-collapse collapse">
<ul class="nav">
<li class="active"><a href="http://www.fastjax.com/">Home</a></li>
<li><a href="#">Classifieds</a></li>
<li><a href="jacksonville-florida-directory.php">Directory</a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Change Cities<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="#">Orlando</a></li>
<li><a href="#">Tampa</a></li>
<li><a href="#">Miami</a></li>
<li class="divider"></li>
<li class="nav-header">Join The Fast Network</li>
<li><a href="#">Create Business Account</a></li>
<li><a href="#">Create City Account</a></li>
</ul>
</li>
</ul>
<form name="loginform" class="navbar-form pull-right" action="" method="post">
<input class="span2" name="log" type="text" placeholder="Username">
<input class="span2" name="pwd" type="password" placeholder="Password">
<button type="submit" name="wp-submit" class="btn">Sign in</button>
<a href="register.php" class="btn btn-primary btn-med">Register</a>
</form>
</div><!--/.nav-collapse -->
</div>
</div>
</div><!-- Section -->
<div class="container">
<div class="row">
<div class="span12">
<table align="center" cellpadding="0" cellspacing="0" border="0">
<tr>
<td>
<a href=""><img src="/images/jacksonville-logo-a.png" width="480" height="280" alt="jacksonville-florida"/></a>
</td>
</tr>
</table>
</div>
</div>
<div class="row">
<div class="span12">
<table align="center" width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
<td>
<h1>Information @ The Speed of Thought</h1>
<br/>
<p>FastJax is the world's first Internet based city utility. FastJax offers you instant connectivity with highly targeted information that is
a vital part of your day. We have segmented every city in the world; as a result, you have a vast array of information to help you make better 
choices. At the top, you can change cities and explore other information on goods, services, and stay connected! If you want to take things to the
next level, sign up for a user account and have your personal dashboard assist you with sorting through the information you value daily!
</p>
<a href="jacksonville-florida-directory.php" class="btn btn-primary btn-large">Explore Jax &#187</a>
</td>
</tr>
</table>
</div>
</div>
<!-- Example row of columns -->
<div class="row">
<div class="span12">

<div class="row-fluid">
<div class="span3">
<h3 class="h1">Northside</h3> 
<a href="/web/20130704125119/http://www.fastjax.com/northside/northside-jacksonville-florida-dog-parks.php"><u>Dog Parks</u></a><br /><br /><a href="/web/20130704125119/http://www.fastjax.com/northside/northside-jacksonville-car-dealers.php"><u>Car Dealers</u></a><br /><br /><a href="/web/20130704125119/http://www.fastjax.com/northside/northside-jacksonville-florida-apartments.php"><u>Apartments</u></a><br /><br /><a href="/web/20130704125119/http://www.fastjax.com/northside/northside-jacksonville-florida-festivals.php"><u>Festivals</u></a><br /><br />  
<p><a class="btn" href="/web/20130704125119/http://www.fastjax.com/northside/">Northside &raquo;</a></p>
</div>
    
<div class="span3">
<h3 class="h1">Downtown</h3> 
<a href="/web/20130704125119/http://www.fastjax.com/downtown/downtown-jacksonville-florida-ice-cream-shops.php"><u>Ice Cream Shops</u></a><br /><br /><a href="/web/20130704125119/http://www.fastjax.com/downtown/downtown-jacksonville-florida-night-clubs.php"><u>Night Clubs</u></a><br /><br /><a href="/web/20130704125119/http://www.fastjax.com/downtown/downtown-jacksonville-florida-bowling.php"><u>Bowling</u></a><br /><br /><a href="/web/20130704125119/http://www.fastjax.com/downtown/downtown-jacksonville-florida-houses.php"><u>Houses</u></a><br /><br />  
<p><a class="btn" href="/web/20130704125119/http://www.fastjax.com/downtown/">Downtown &raquo;</a></p>
</div>
    
<div class="span3">
<h3 class="h1">Uptown</h3> 
<a href="/web/20130704125119/http://www.fastjax.com/uptown/uptown-jacksonville-florida-houses.php"><u>Houses</u></a><br /><br /><a href="/web/20130704125119/http://www.fastjax.com/uptown/uptown-jacksonville-florida-dog-park.php"><u>Dog Park</u></a><br /><br /><a href="/web/20130704125119/http://www.fastjax.com/uptown/uptown-jacksonville-florida-ice-cream-shops.php"><u>Ice Cream Shops</u></a><br /><br /><a href="/web/20130704125119/http://www.fastjax.com/uptown/uptown-jacksonville-florida-jewelry-stores.php"><u>Jewelry Stores</u></a><br /><br />  
<p><a class="btn" href="/web/20130704125119/http://www.fastjax.com/uptown/">Uptown &raquo;</a></p>
</div>    
    
<div class="span3">
<h3 class="h1">Eastside</h3>
<a href="/web/20130704125119/http://www.fastjax.com/eastside/eastside-jacksonville-florida-ice-cream-shops.php"><u>Ice Cream Shops</u></a><br /><br /><a href="/web/20130704125119/http://www.fastjax.com/eastside/eastside-jacksonville-florida-car-dealers.php"><u>Car Dealers</u></a><br /><br /><a href="/web/20130704125119/http://www.fastjax.com/eastside/eastside-jacksonville-florida-government-buildings.php"><u>Government Buildings</u></a><br /><br /><a href="/web/20130704125119/http://www.fastjax.com/eastside/eastside-jacksonville-florida-jewelry-stores.php"><u>Night Clubs</u></a><br /><br />  
<p><a class="btn" href="/web/20130704125119/http://www.fastjax.com/eastside/">Eastside &raquo;</a></p>
</div>
</div></div>
</div>
<div class="row">
<div class="span12">


<div class="row-fluid">
<div class="span3">
<h3 class="h1">Southside</h3> 
<a href=""><u>Entertainment</u></a>
<br />
<br />
<a href=""><u>Bowling</u></a>
<br />
<br />
<a href=""><u>Dog Parks</u></a>
<br />
<br />
<a href=""><u>Apartments</u></a><br /><br />  
<p><a class="btn" href="">Southside &raquo;</a></p>
</div>
<div class="span3">
<h3 class="h1">Beaches</h3> 
<a href=""><u>Night Clubs</u></a>
<br />
<br />
<a href=""><u>Entertainment</u></a>
<br />
<br />
<a href=""><u>Dog Parks</u></a>
<br />
<br />
<a href=""><u>Apartments</u></a>
<br />
<br />  
<p><a class="btn" href="">Beaches &raquo;</a></p>
</div>
    
<div class="span3">
<h3 class="h1">Midtown</h3> 
<a href=""><u>Diners</u></a>
<br />
<br /><a href=""><u>Car Dealers</u></a>
<br />
<br />
<a href=""><u>Houses</u></a>
<br />
<br />
<a href=""><u>Dog Park</u></a><br /><br />  
<p><a class="btn" href="">Midtown &raquo;</a></p>
</div>    
    
<div class="span3">
<h3 class="h1">Westside</h3>
<a href=""><u>Apartments</u></a>
<br />
<br /><a href=""><u>Dog Parks</u></a>
<br />
<br />
<a href=""><u>Car Dealers</u></a>
<br />
<br /><a href=""><u>Diners</u></a>
<br />
<br />  
<p><a class="btn" href="">Westside &raquo;</a></p>
</div>
</div></div>
</div>
<!-- /Section -->
<hr>
<footer>
<div class="row">
<div class="span4">
<h4>Quick Links</h4>
<br />
<p><a href="http://www.fastjax.com/">Home</a></p>
<p><a href="#">About</a></p>
<p><a href="#">Advertise</a></p>
<p><a href="#">Blog</a></p>
<p><a href="#">Contact</a></p>
<p><a href="#">Create An Account</a></p>
<p><a href="#">Privacy Policy</a></p>
<p><a href="#">SEO</a></p>
<p><a href="#">Submit A Website</a></p>
<p><a href="#">Terms of Use</a></p>
</div>
<div class="span4">
<h4>Follow Our Updates</h4>
<br />
<p><a href="#">Google+</a></p>
<p><a href="#">Facebook</a></p>
<p><a href="#">Twitter</a></p>
<p><a href="#">You Tube</a></p>
<p><a href="#">Pin Interest</a></p>
<p><a href="#">SEO MOZ</a></p>
<p><a href="#">Tubmlr</a></p>
<p><a href="#">RSS Feed</a></p>
<p><a href="#">XML Feed</a></p>
<p><a href="#">Sitemap</a></p>
</div>
<div class="span4">
<form>
<fieldset>
<legend>Join Our Emailing List</legend>
<label>Name</label>
<input type="text" placeholder="your name here.....">
<label>Email</label>
<input type="text" placeholder="your email here.....">
</label>
<br />
<br />
<button type="submit" class="btn">Submit</button>
</fieldset>
</form>
<div class="row">
<div class="span1">
<a href="#"><img src="/images/youtube-icon.png"/></a>
</div>
<div class="span1">
<a href="#"><img src="/images/digg-icon.png"/></a>
</div>
<div class="span1">
<a href="#"><img src="/images/pinintrest.png"/></a>
</div>
<div class="span1">
<a href="#"><img src="/images/rss-icon.png"/></a>
</div>
</div>
</div>
<div class="row">
<div class="span12">
<table align="center" width="250px" cellpadding="20" cellspacing="0" border="0">
<tr>
<td align="center">
<p><strong>Fast Network, LLC © 2012</strong></p>
</td>
</tr>
</table>
</div>
</div>
</footer>
</div>
<!-- /container -->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap-transition.js"></script>
<script src="/js/bootstrap-alert.js"></script>
<script src="/js/bootstrap-modal.js"></script>
<script src="/js/bootstrap-dropdown.js"></script>
<script src="/js/bootstrap-scrollspy.js"></script>
<script src="/js/bootstrap-tab.js"></script>
<script src="/js/bootstrap-tooltip.js"></script>
<script src="/js/bootstrap-popover.js"></script>
<script src="/js/bootstrap-button.js"></script>
<script src="/js/bootstrap-collapse.js"></script>
<script src="/js/bootstrap-carousel.js"></script>
<script src="/js/bootstrap-typeahead.js"></script>
<!-- css3-mediaqueries.js for IE less than 9 -->
<!--[if lt IE 9]><script src="/web/20130704125119/http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
