




/*
     FILE ARCHIVED ON 14:56:53 Sep 9, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 6:50:17 Mar 25, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
   body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      
   .logo {
        
        margin: 0px 0px 0px 0px; 
        padding: 0px 0px 0px 0px;
      
      }
      
   .footer {
        
        margin: 0px 0px 0px 0px; 
        padding: 0px 0px 0px 0px;
      
      }
      
    .footerlinks {
    	
      float: left;   	
      clear: left;
   	margin: 0px 0px 0px 0px; 
      padding: 0px 0px 0px 0px;
   	
   	}   
      
   .footercompany {
   	
   	float: left;
   	margin: 0px 0px 0px 0px; 
      padding: 0px 0px 0px 0px;
   	
   	}   